@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font: inherit;*/
    /*vertical-align: baseline;*/
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    color: white;
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
    background-repeat: no-repeat;
}


#x2043__board {
    cursor: auto;
    transition: all 0.05s ease-in-out;
}

#x2043__board-score {
    color: black;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

